/*
.App {
  background-color: #3B62FF;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
*/

h1 {
  margin: 30px;
}

/************************** NAVBAR **************************/

.navbar {
  background-color: #3B62FF;
  padding: 0px;
  height: 50px;
}

.ml-auto {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: .7em;
  color: white;
}

.logo {
  width: 30px;
  margin-left: 20px;
}

.user-icon {
  margin-right: 20px;
  color: white;
}

.user-icon:hover {
  cursor: pointer;
}

.nav-item > a {
  color: white;
}

/************************** HOME **************************/

.body-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
