h1 {
  margin: 30px;
}

/************************** NAVBAR **************************/

.navbar {
  background-color: #3B62FF;
  padding: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.ml-auto {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: .7em;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.logo {
  width: 30px;
  margin-left: 20px;
}

.user-icon {
  margin-right: 20px;
  color: white;
}

.user-icon:hover {
  cursor: pointer;
}

.nav-item > a {
  color: white;
}

/************************** AUTHENTIFICATION **************************/

.modal-header {
  display: flex;
  justify-content: space-around;
}

.modal-header:hover {
  cursor: pointer;
}

.active {
  color: #3B62FF;
}

/************************** HOME **************************/

.body-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
