h1 {
  margin: 30px 20px 10px 20px;
  font-size: 2em;
  color: grey;
}

/************************** NAVBAR **************************/

.navbar {
  background-color: #3B62FF;
  padding: 0px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.ml-auto {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: .7em;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.logo {
  width: 30px;
  margin-left: 20px;
}

.user-icon {
  margin-right: 20px;
  color: white;
}

.user-icon:hover {
  cursor: pointer;
}

.nav-item > a {
  color: white;
}

.nav-item > a:hover {
  text-decoration: none;
}

/************************** AUTHENTIFICATION **************************/

.modal-header {
  display: flex;
  justify-content: space-around;
}

.modal-header:hover {
  cursor: pointer;
}

.active {
  color: #3B62FF;
}

/************************** HOME **************************/

.body-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/************************** CIRCUIT **************************/

.my-circuits-header {
  display: flex;
  justify-content: space-between;
}

.button-dropdown {
  height: 40px;
  display: block;
  margin: 30px 20px 10px 20px;
}

.item-wrapper {
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item {
  background-color: rgb(223, 229, 255);
  border-radius: 5px;
  width: 46%;
  height: 400px;
  margin: 20px;
  padding: 30px;
  color: grey;
  transition: 0.2s;
}

.list-item:hover {
  cursor: pointer;
  background-color: rgb(191, 203, 255);
  color: white;
  transition: 0.2s;
}

.add-circuit {
 position: fixed;
 bottom: 20px;
 right: 20px;
}

.add-circuit:hover {
  cursor: pointer;
}

/************************** NEW-CIRCUIT **************************/
.div-wrapper {
  display: flex;
}

.new-map {
  width: 70%;
}

.scroll-menu {
  overflow: scroll;
  width: 30%;
}

.circuit-title {
  color: grey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.step-wrapper {
  width: 100%;
  height : 100px;
  background-color: red;
}
